// @import "bootstrap";
@import 'compass';
$link:#A80314;
$blue:#0E8AB0;;
@mixin transition($sec: 0.2s) {
-webkit-transition: all $sec ease-out;
   -moz-transition: all $sec ease-out;
    -ms-transition: all $sec ease-out;
     -o-transition: all $sec ease-out;
        transition: all $sec ease-out;
}


/* REQUIRES COMPASS */

/* Faster gradients, if a stop is not specified a -20 of the start
is assigned for you this may be adjustable in the near future */
@mixin gradient($start, $stop:false) {
    @if $stop {
        @include background-image(linear-gradient($start, $stop));
    } @else {
        @include background-image(linear-gradient($start, $start - 20));
    }

}


@font-face {
    font-family: 'weston_freeregular';
    src: url('weston_free-webfont.eot');
    src: url('weston_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('weston_free-webfont.woff') format('woff'),
         url('weston_free-webfont.ttf') format('truetype'),
         url('weston_free-webfont.svg#weston_freeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* universal */

html {
	 overflow-y: scroll;
}

body {
 	padding:40px 60px 60px;
 	background-color: #ddd;
}
a {
	text-decoration: none;
	color:$link;
}
textarea {
	height: 180px;
}
.logo a {
	font-size: 2.0em;
	text-decoration:  none;
	color: black;
	line-height: 0.8em;
	padding-bottom:  2px;
	border-bottom: 5px solid $link;
	font-family: 'weston_freeregular', Rockwell;
	@include transition;
	&:hover {
		padding-bottom:  0px;
		color:#555;
	}
}

.btn {
	@include box-shadow(1px 1px 4px rgba(black, 0.2));
	text-decoration: none;
	font-size:1.6em;
	background: #999;
	color:white;
	font-weight: bold;
	padding: 14px 8px;
	border-radius: 5px;
	@include gradient(#999);
	&:hover {
		@include gradient(#888);
	}
}
.add-btn {
	@include gradient($blue);
	float:right;
}

/* The Main Films Table */
.films-table {
	margin-top: 40px;
	width:100%;
	background: white;
	@include box-shadow(1px 1px 4px rgba(black, 0.2));
	th {
		padding:5px;
		text-align: left;
		border-bottom:solid 2px$link;
	}
	tr {
		@include transition;
		border-bottom: 1px  solid #111;
		&:hover {
			background: #eee;
		}
	}
	tr.even {
   		// background-color: #eee;
	}
	tr:nth-child(even)  {
		background-color: #eee;
	}
	td {
		padding:10px;
	}
	.film-title {
		cursor: pointer;
		color:$link;
		font-weight: bold;
		font-size:1.6em;
	}
}

.watch-icon, .icon-basket {
	font-size:2.0em;
	margin:0 5px 10px 0;
}
.bluray-icon {
	color:$blue - 40;
}
.youtube-icon {
	color:$link;
}
.drawer-row {
	td {
		padding:0;
	}
}
.modify {
	width: 62px;
	i {
		font-size:1.6em;
		&.icon-pencil {
			color: #333;
		}
	}
}

.drawer {
	display: none;
	@include box-shadow(#333 0px 4px 10px inset);
	background-color: #666;
	background-size: cover;
	padding: 20px;
	display: none;
	border:none;
	color:white;
	background-position-y: 30%;
	img {
		@include box-shadow(1px 1px 4px rgba(black, 0.6));
		float:left;
		max-width: 130px;
	}
	.movie-info {
		float: left;
		width: 60%;
		margin-left: 20px;
		background: rgba(white, 0.9);
		color:#222;
		padding: 20px;
		@include box-shadow(1px 1px 4px rgba(black, 0.6));
	}
}

a i {
	opacity: 0.8;
	@include transition;
	&:hover {
		opacity: 1;
	}
}

/* Edit Page */
.edit-contain {
	margin-top:40px;
	background: white;
	padding:10px 40px 40px;
	@include box-shadow(1px 1px 4px rgba(black, 0.2));
	.form {
		margin-bottom: 20px;
	}
}





::-moz-selection {
    background: $link;
    color:white;
    text-shadow: none;
}

::selection {
    background: $link;
    color:white;
    text-shadow: none;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
