	<header>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h1 class="logo"><%= link_to "Kung Fu Movies", root_path, class: 'brand' %></h1>
    </div>
  </div>
</div>
</header>
